body{
    background-color: rgba(162, 204, 181, 0.726);
    margin: 0px;
  }
  
  h1 {
    font-size: 50px;
    font-family: Concert One;
    background-color: bisque;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
    border: solid;
    border-color: black;
    border-width: 5px;
  
  }
  h2 {
    font-family: Anton;
    font-size: 40px;
    margin: 5px 5px 5px 5px;
    background-color: ivory;
    padding: 0px 5px 0px 5px;
    border: solid;
    border-width: 5px;
  }
  h3{
    font-family: Anton;
    font-size: 25px;
    background-color: ivory;
    margin: 10px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    border: solid;
    border-width: 5px 5px 0px 5px;
  }
  p {
    font-family: Roboto;
    font-size: 15px;
    background-color: ivory;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    border: solid;
    border-width: 0px 5px 5px 5px;
  }

  img {
    background-color: ivory;
    width: 350px;
    margin: 5px;
    border: solid;
    border-width: 5px;
    padding: 5px;
  }